body {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 1024px;
    text-align: center;
}
img {
    border-radius: 15px;

}

ul {
    margin: 0 auto;
    padding: 0px;
}
.block li {
    text-align: center;
    list-style-position: inside;
}